@tailwind base;
@tailwind components;
@tailwind utilities;

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.productCarousel.carousel-root .carousel {
  width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
  height: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  image-rendering: auto;
  position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}

/**
 * Button.module.css
 *
 * @format
 */

.button {
  transition: transform 0.3s ease;
}

.button:active {
  transform: scale(0.95);
}
/** @format */

.animate-out {
  animation: fadeOut 0.2s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

@media screen and (max-width: 767px) {
  .productCarousel.carousel-root {
    flex-direction: column;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
    transform: none !important;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
    margin: 0;
  }
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .zoom-image [data-rmiz-modal-overlay='visible'] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.card-text {
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  position: relative;
  height: 280px;
  border-radius: 6px;
  overflow: hidden;
  object-fit: cover;
}

.card-title {
  padding: 8px 0 4px;
}

.card-brand {
  font-weight: normal;
}

.brand-red {
  color: rgb(190, 10, 10);
}

.card-description {
  padding: 10px 0;
  font-size: 14px;
}
.skeleton {
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-card-brand {
  width: 20%;
  height: 0.7rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-card {
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.skeleton-card-text {
  padding: 10px;
}

.skeleton-card-img {
  width: 100%;
  height: 280px;
  border-radius: 6px;
}

.skeleton-card-price {
  width: 10%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-rating {
  width: 20%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-title {
  width: 70%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-description {
  width: 90%;
  height: 0.7rem;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
